---
	import Layout from '../layouts/Layout.astro';
	import HomePage from '../components/Index/HomePage.astro';
	import "../base.css"
	import NavBar from '../components/Index/NavBar.tsx';
---

<Layout title="Billy Ronico">
	<main>
		<NavBar client:idle/>
		<div class="relative lg:w-[calc(100vw-300px)] lg:left-[300px]">
			<HomePage />
		</div>
	</main>
</Layout>